body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background: #F5F7FB;
}

h1 {
  margin: 0;
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-weight: 400;
}

h1, h3 {
  color: #293264
}

.top-blob {
  position: absolute;
  width: 297px;
  height: 235px;
  left: 90vw;
  top: -2vh;

  transform: rotate(-128.49deg);

  background: #FFFAD1;
  transform: rotate(-128.49deg);

  border-radius: 75% 90% 55% 52%;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.bottom-blob {
  position: absolute;
  width: 297px;
  height: 235px;
  left: -8rem;
  top: 75vh;
  background: #DEEBF8;
  border-radius: 78% 87% 56% 75%;
}

.answers {
  display: flex;
  gap: 16px;
}

.answer {
  border: 0.77px solid #4D5B9E;
  font-weight: 500;
  text-align: center;
  color: #293264;
  padding: 5px 25px;
  border-radius: 8px;
  cursor: pointer;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.question-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-question {
  font-weight: 700;
  font-size: 18px;

  color: #293264;
}

hr {
  height: 1px;
  width: 100%;
  background-color: #DBDEF0;
  border: none;
}

button {
  background: #4D5B9E;
  border-radius: 15px;
  border: 0px;
  color: #F5F7FB;
  padding: 10px 25px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.score {
  font-weight: 700;
  color: #293264;
}